/ {
    chosen {
        microros_uart = &uart0;
    };

    aliases {
        led0 = &d13_led;
    };

    leds {
        compatible = "gpio-leds";
        d13_led: d13 {
            gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
        };
    };
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
};